.tmpl-official-rules {
  .doodle {
    &-1 {
      left: 58%;
      top: 10px;
    }
    &-2 {
      right: 2%;
      top: 367px;
    }
    &-3 {
      right: 3%;
      top: 73px;
    }
    &-4 {
      left: 62.3%;
      top: -18px;
    }
    &-5 {
      right: 18%;
      top: 240px;
    }
  }
}