@import "font-awesome/font-awesome";

@font-face {
  font-family: 'KGSecondChancesSketch';
  src: url('../fonts/KGSecondChancesSketch.eot');
  src: local('☺'), url('../fonts/KGSecondChancesSketch.woff') format('woff'), url('../fonts/KGSecondChancesSketch.ttf') format('truetype'), url('../fonts/KGSecondChancesSketch.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KGSecondChancesSolid';
  src: url('../fonts/KGSecondChancesSolid.eot');
  src: local('☺'), url('../fonts/KGSecondChancesSolid.woff') format('woff'), url('../fonts/KGSecondChancesSolid.ttf') format('truetype'), url('../fonts/KGSecondChancesSolid.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lemonade ICG Bold';
  src: url('../fonts/Lemonade ICG Bold.eot');
  src: local('☺'), url('../fonts/Lemonade ICG Bold.woff') format('woff'), url('../fonts/Lemonade ICG Bold.ttf') format('truetype'), url('../fonts/Lemonade ICG Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lemonade ICG';
  src: url('../fonts/Lemonade ICG.eot');
  src: local('☺'), url('../fonts/Lemonade ICG.woff') format('woff'), url('../fonts/Lemonade ICG.ttf') format('truetype'), url('../fonts/Lemonade ICG.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'kg_fall_for_youbold';
  src: url('../fonts/kgfallforyou-bold-webfont.eot');
  src: url('../fonts/kgfallforyou-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/kgfallforyou-bold-webfont.woff2') format('woff2'),
  url('../fonts/kgfallforyou-bold-webfont.woff') format('woff'),
  url('../fonts/kgfallforyou-bold-webfont.ttf') format('truetype'),
  url('../fonts/kgfallforyou-bold-webfont.svg#kg_fall_for_youbold') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'kg_fall_for_youitalic';
  src: url('../fonts/kgfallforyou-italic-webfont.eot');
  src: url('../fonts/kgfallforyou-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/kgfallforyou-italic-webfont.woff2') format('woff2'),
  url('../fonts/kgfallforyou-italic-webfont.woff') format('woff'),
  url('../fonts/kgfallforyou-italic-webfont.ttf') format('truetype'),
  url('../fonts/kgfallforyou-italic-webfont.svg#kg_fall_for_youitalic') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'kg_fall_for_youregular';
  src: url('../fonts/kgfallforyou-webfont.eot');
  src: url('../fonts/kgfallforyou-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/kgfallforyou-webfont.woff2') format('woff2'),
  url('../fonts/kgfallforyou-webfont.woff') format('woff'),
  url('../fonts/kgfallforyou-webfont.ttf') format('truetype'),
  url('../fonts/kgfallforyou-webfont.svg#kg_fall_for_youregular') format('svg');
  font-weight: normal;
  font-style: normal;

}


